@mixin hidden {
    font-size: 0;
    text-indent: -9999px;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

@mixin titleBorder($color) {
    border: 4px solid $color;
    //border-image: linear-gradient(to bottom right, $color1, $color2) 1 100%;
    display: inline-block;
    padding: 0.6em 1.5em;
    color: $color;
}

@mixin titleDiamond($color) {
    content: "\25C6";
    display: block;
    color: $color;
    font-size: 0.5em;
    margin: 2em auto 2em;
}

@mixin bigButton($backColor, $color) {
    color: $color;
    background-color: $backColor;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    transition: 0.25s ease-in-out;

}

@mixin bigButtonHover($backColor) {
    background-color: $backColor;
}

@mixin newsBgImg($dates) {
    @each $date in $dates {
        .new__presentation--#{$date} {
            background-image: url("../images/news_"+$date+".jpg")
        }
    }
}
