h1, h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.728em;
    font-weight: 600;
    letter-spacing: 5px;
}

h1 {
    &::after {
        @include titleDiamond($dPurple);
    }
}

h1 span {
    @include titleBorder($dPurple);
    margin: 0 auto;
}

header h2, section[title="Footer"] h1, section[title="Footer"] h2 {
    @include hidden;
}
