mixin mainNav(page, location)
    nav(title= location+" Navigation")
        h2 #{location} Nav
        ul
            if page == "Home"
                li
                    a(href="#" title="home") Home
                li
                    a(href="pages/medias.html" title="medias") Medias
                li
                    a(href="pages/music.html" title="music") Music
                li
                    a(href="pages/shows.html" title="shows") Shows
                li
                    a(href="pages/news.html" title="news") News

            else if page == "Medias"
                li
                    a(href="../index.html" title="home") Home
                li
                    a(href="#" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="news.html" title="news") News

            else if page == "Music"
                li
                    a(href="../index.html" title="home") Home
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="#" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="news.html" title="news") News


            else if page == "Shows"
                li
                    a(href="../index.html" title="home") Home
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="#" title="shows") Shows
                li
                    a(href="news.html" title="news") News

            else if page == "News"
                li
                    a(href="../index.html" title="home") Home
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="#" title="news") News
