mixin head(page, chemin)
    head
        meta(charset="utf-8")
        meta(name="author" content="Stéphanie Cloutier")
        meta(name="description" content="Imagine Dragons website for a school project")
        meta(name="keywords" content="design, web, school, project, artist, Imagine Dragons, music, band")

        title Imagine Dragons | #{page}
        link(rel="stylesheet", href= chemin+"assets/css/main.css")
            
mixin header(page, location)
    header
        h1
            if page == "Home"
                a(href="#")
                    img(src="./assets/images/logo.svg"  alt="Imagine Dragons")
            else
                a(href="../index.html")
                    img(src="../assets/images/logo.svg"  alt="Imagine Dragons")
        
        +mainNav(page, location)

mixin footer(page)
    footer(title="Footer")
        +mainNav(page, "Footer")

        nav(title="Social Medias")
            h3 Social Medias
            ul
                li
                    a(href="http://facebook.com" title="Visit our Facebook Page")
                li
                    a(href="http://facebook.com" title="Visit our Facebook Page")
                li
                    a(href="http://facebook.com" title="Visit our Facebook Page")
                li
                    a(href="http://facebook.com" title="Visit our Facebook Page")


        small &copy;&nbsp;Stéphanie Cloutier
        small
            a(href="mailto:stephecloutier@gmail.com" title="Send me an email")
                Contact webmaster
        small Terms &amp; Conditions

mixin mainNav(page, location)
    nav(title= location+" Navigation")
        h2 #{location} navigation
        ul
            if page == "Home"
                li
                    a(href="pages/medias.html" title="medias") Medias
                li
                    a(href="pages/music.html" title="music") Music
                li
                    a(href="pages/shows.html" title="shows") Shows
                li
                    a(href="pages/news.html" title="news") News

            else if page == "Medias"
                li
                    a(href="#" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="news.html" title="news") News

            else if page == "Music"
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="#" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="news.html" title="news") News

            else if page == "Shows"
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="#" title="shows") Shows
                li
                    a(href="news.html" title="news") News

            else if page == "News"
                li
                    a(href="medias.html" title="medias") Medias
                li
                    a(href="music.html" title="music") Music
                li
                    a(href="shows.html" title="shows") Shows
                li
                    a(href="#" title="news") News
