doctype html
include includes/_mixins.pug
html(lang="fr")
    +head("Home", "")

    body
        +header("Home", "header")

        main
            section(title="Biography" class="biography")
                h2.biography__title 
                    span.biography--border Biography
                div.biography__wrapper
                    div.biography__col
                        p.biography__p
                            | Imagine Dragons is an American rock band from Las Vegas, Nevada. It currently consists of lead vocalist Dan Reynolds, lead guitarist Wayne Sermon, bassist Ben McKee, and drummer Daniel Platzman. 
                        p.biography__p
                            | The band first gained exposure in 2012 with the releases of their debut studio album <a href="./pages/music.html" title="This link gets you to the music page" class="biography__link biography--highlight">Night Visions</a> and the album's first single <span class="biography--highlight">It's Time</span>. Billboard placed them at the top of their "Year In Rock" rankings for 2013 and named Imagine Dragons their "Breakthrough Band of 2013".
                        p.biography__p
                            | Rolling Stone named their single <span class="biography--highlight">Radioactive</span>, from their Night Visions, "the biggest rock hit of the year", while MTV called them "the year's biggest breakout band".
                    div.biography__col 
                        p.biography__p
                            | Night Visions peaked at number two on the weekly Billboard 200 and UK Albums Chart. The band's second studio album <a href="./pages/music.html" title="This link gets you to the music page" class="biography__link biography--highlight">Smoke + Mirrors</a> was released in 2015 and reached number one in the US, Canada and the UK.
                        p.biography__p
                            | Imagine Dragons has won two American Music Awards for Favorite Alternative Artist, a Grammy Award for Best Rock Performance, five Billboard Music Awards, and a World Music Award. In May 2014, the band was nominated for a total of fourteen different Billboard Music Awards, including Top Artist of the Year and a Milestone Award, which recognizes innovation and creativity of artists across different genres.
                        p.biography__p
                            | As of January 2017, Imagine Dragons have sold 9 million albums and 27 million singles worldwide.

        +footer("Home")
