@media screen and (max-width: 950px){
    .biography__wrapper {
        display: block;
        width: 90%;
    }

    .biography__col {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }
}
