@media screen and (max-width: 900px){
    .biography__wrapper {
        display: block;
        width: 90%;
    }

    .biography__col {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .biography__title {
        font-size: 1.2em;
    }
}
