.footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    font-weight: 400;
    width: 100%;
}

.footer__wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-social__nav {
        flex-shrink: 5;
    }
}



.footer-social__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social__li {
    display: inline-block;
    margin-right: 1em;
}

.footer-social__icon {
    width: 1em;
    height: 1em;
}

.footer__infos {
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__buy-nav {
    display: flex;
    align-items: center;
    margin-right: 2em;
    .buy-nav__title {
        text-indent: 0;
        line-height: 1;
        margin-right: 0.5em;
    }
    .buy-nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .buy-nav__li {
            display: inline-block;
        }
    }
}

.footer__small, .footer__link--mail, .buy-nav__link, .buy-nav__title {
    font-size: 0.694em;
    text-transform: none;
    letter-spacing: 0.025em;
    font-weight: 400;
}

.footer__link--mail, .buy-nav__link {
    text-decoration: underline;
    font-weight: 600;
}

.footer__link--mail {
    margin-left: 1em;
}

.footer__small-wrapper {
    display: flex;
    justify-content: flex-end;
}
