@media screen and (max-width: 650px){
    .footer__infos {
        flex-direction: column;
        align-items: flex-end;
        .footer__buy-nav {
            margin: 0;
        }
    }
}

@media screen and (max-width: 420px){
    .footer__wrapper {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .footer-social__nav, .footer__infos {
        width: 90%;
    }
    .footer__infos {
        align-items: center;
    }

    .footer-social__nav {
        margin-bottom: 1.5em;
    }

    .footer-social__list {
        justify-content: space-around;
    }

    .footer__small-wrapper {
        margin-top: 0.5em;
        justify-content: center;
    }

    .footer-social__icon {
        width: 1.5em;
        height: 1.5em;
    }

}
