@media screen and (max-width: 700px){
    .header__link {
        padding: 0.35em 0.75em;
    }
}

@media screen and (max-width: 600px){
    .header__nav {
        max-width: 500px;
        .header__li {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 520px){
    .header__nav {
        max-width: 95%;
        .header__li {
            //width: 20%;
        }
    }
}

@media screen and (max-width: 460px){
    .nav--hidden {
        opacity: 0;
        //height: 0;
        z-index: -1;
        transition: 0.25s ease-in-out;
    }
    .nav--transition {
        opacity: 1;
        //height: auto;
        z-index: auto;
    }
    .header {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2em 1em 1.5em;
        background: $dPurple;
        &.header--home {
            min-height: 60vh;
        }
    }

    .header__title {
        min-height: 40px;
        max-width: 85%;
    }

    .header__logo-link {
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    .header__nav {
        height: 40px;
        max-width: 85%;
        position: relative;
    }

    .navIconSVG {
        width: 2.3em;
        display: inline-block;
        margin-right: 1em;
    }

    .header__list {
        width: 50vw;
        min-width: 95px;
        position: absolute;
        top: 4em;
        flex-direction: column;
        background: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .header__li {
        width: 100%;
        text-align: left;
        color: $dPurple;
        //border-bottom: 4px solid $dPurple;
        &::after {
            display: none;
        }
    }

    .header__link {
        border: none;
        width: 100%;
        padding: 1em;
        &:hover, &:focus {
            border: none;
            background-color: $dPurple;
            color: white;
        }
    }
}
@media screen and (max-width: 300px) {
    .header {
        padding-top: 0.5em;
        &.header--home {
            min-height: 40vh;
        }
    }
    .header__title {
        width: 240px;
    }

    .header__nav {
        display: flex;
        align-items: center;
    }
    .navIconSVG {
        width: 1.8em;
        position: relative;
        top: -.2em;
    }

    .header__list {
        top: 3em;
    }
}
