.medias {
}

.medias__figures {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.medias__figure {
    width: 215px;
    height: 215px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medias__caption {
    @include hidden;
}
