.music {
    max-width: 900px;
    margin: 0 auto;
    .music__album {
        margin-bottom: 3em;
        width: 100%;
    }
    .album--last {
        margin-bottom: 0;
    }
}

.album {
    padding: 2.5em 3em;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.album__info {
    margin-bottom: 1.5em;
}

.album__content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.album__img {
    width: 280px;
    height: 280px;
}

.album__list {
    font-size: 0.833em;
    //line-height: 2.5;
    width: 50%;

    flex-direction: column;

    display: flex;
    flex-wrap: wrap;

    list-style: decimal-leading-zero none inside;

    &.album__list--1 {
        max-height: 350px;
    }
    &.album__list--2 {
        max-height: 230px;
    }
    &.album__list--3 {
        max-height: 280px;
    }
    &.album__list--4 {
        max-height: 200px;
    }
}

.album__song {
    margin-right: 3em;
    margin-bottom: 1em;
}
