doctype html
include ../includes/_mixins.pug
html(lang="fr")
    +head("Medias", "../")

    body
        +header("Medias", "header")
            
        main
            section(title="Medias" class="medias")
                h1.medias__title
                    span Medias
                div.medias__figures
                    - var n = 0
                    while n < 16
                        +mediasFigures("../assets/images/medias_1.jpg", "Imagine Dragons in Italy", "2017-03-14", "Italy")
                        - n++
                    
        +footer("Medias")
