doctype html
include ../includes/_mixins.pug
html(lang="fr")
    +head("Medias", "../")

    body
        +header("Medias", "header")
            
        main
            section(title="Medias")
                h1
                    span Medias

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

                figure
                    img(src="http://lorempixel.com/300/200/" title="Title ici")
                    figcaption Description ici

        +footer("Medias")
