doctype html
include ../includes/_mixins.pug
html(lang="fr")
    head
        meta(charset="utf-8")
        meta(name="author" content="Stéphanie Cloutier")
        meta(name="description" content="Imagine Dragons website for a school project")
        meta(name="keywords" content="design, web, school, project, artist, Imagine Dragons, music, band")

        title Imagine Dragons | Medias
        link(rel="stylesheet", href="../assets/css/main.css")

    body
        h1 Imagine Dragons | Medias

        +mainNav("Medias", "Main")

        section(title="Medias")
            h2 Medias

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

        footer(title="footer")
            h2 Footer

            +mainNav("Medias", "Footer")

            small &copy;&nbsp;Stéphanie Cloutier
            small Privacy Policy
            small Terms &amp; Conditions
