doctype html
include ../includes/_mixins.pug
html(lang="fr")
    +head("Medias", "../")

    body
        h1 Imagine Dragons | Medias

        +mainNav("Medias", "Main")

        section(title="Medias")
            h2 Medias

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

            figure
                img(src="http://lorempixel.com/300/200/" title="Title ici")
                figcaption Description ici

        +footer("Medias")
