doctype html
include ../includes/_mixins.pug
html
    +head("Music", "../")

    body
        +header("Music", "header")
            
        main
            section(title="Music" class="music")
                h1.music__title 
                    span Music

                article(title="Smoke+Mirrors (Deluxe)" class="music__album album")
                    h3.album__title Smoke + Mirrors (Deluxe)
                    img(src="../assets/images/smoke+mirrors_deluxe.jpg" alt="Smoke+Mirrors Deluxe (Album cover)" class="album__img")
                    time(datetime="2015-10-30" class="album__date") October 30<sup>th</sup> 2015
                    ol.album__list
                        li.album__song Shots
                        li.album__song Gold
                        li.album__song Smoke And Mirrors
                        li.album__song I'm So Sorry
                        li.album__song I Bet My Life
                        li.album__song Polaroid
                        li.album__song Friction
                        li.album__song It Comes Back To You
                        li.album__song Dream
                        li.album__song Trouble
                        li.album__song Summer
                        li.album__song Hopeless Opus
                        li.album__song The Fall
                        li.album__song Thief
                        li.album__song The Unknown
                        li.album__song Second Chances
                        li.album__song Release
                        li.album__song Warriors
                        li.album__song Battle Cry
                        li.album__song Monster
                        li.album__song Who We Are

                article(title="Smoke+Mirrors" class="music__album album")
                    h3.album__title Smoke + Mirrors
                    img(src="../assets/images/smoke+mirrors.jpg" alt="Smoke+Mirrors (Album cover)" class="album__img")
                    time(datetime="2015-02-17" class="album__date") February 17<sup>th</sup> 2015
                    ol.album__list
                        li.album__song Shots
                        li.album__song Gold
                        li.album__song Smoke And Mirrors
                        li.album__song I'm So Sorry
                        li.album__song I Bet My Life
                        li.album__song Polaroid
                        li.album__song Friction
                        li.album__song It Comes Back To You
                        li.album__song Dream
                        li.album__song Trouble
                        li.album__song Summer
                        li.album__song Hopeless Opus
                        li.album__song The Fall

                article(title="Night Visions (Deluxe)" class="music__album album")
                    h3.album__title Night Visions (Deluxe)
                    img(src="../assets/images/night-visions.jpg" alt="Night Visions Deluxe (Album cover)" class="album__img")
                    time(datetime="2013-01-01" class="album__date") January 1<sup>st</sup> 2013
                    ol.album__list
                        li.album__song Radioactive
                        li.album__song Tiptoe
                        li.album__song It's Time
                        li.album__song Demons
                        li.album__song On Top Of The World
                        li.album__song Amsterdam
                        li.album__song Hear Me
                        li.album__song Every Night
                        li.album__song Bleeding Out
                        li.album__song Underdog
                        li.album__song Nothing Left To Say / Rocks
                        li.album__song My Fault
                        li.album__song Round And Round
                        li.album__song The River
                        li.album__song America
                        li.album__song Selene

                article(title="Night Visions" class="music__album album")
                    h3.album__title Night Visions
                    img(src="../assets/images/night-visions.jpg" alt="Night Visions (Album Cover)" class="album__img")
                    time(datetime="2012-09-04" class="album__date") September 4<sup>th</sup> 2012
                    ol.album__list
                        li.album__song Radioactive
                        li.album__song Tiptoe
                        li.album__song It's Time
                        li.album__song Demons
                        li.album__song On Top Of The World
                        li.album__song Amsterdam
                        li.album__song Hear Me
                        li.album__song Every Night
                        li.album__song Bleeding Out
                        li.album__song Underdog
                        li.album__song Nothing Left To Say / Rocks
                        li.album__song Cha-Ching (Till We Grow Older)

        +footer("Music")
        script(src="../assets/js/script.js")
