doctype html
include ../includes/_mixins.pug
html
    +head("Music", "../")

    body
        +header("Music", "header")
            
        main
            section(title="Music")
                h1 
                    span Music

                article(title="Smoke+Mirrors (Deluxe)")
                    h3 Smoke + Mirrors (Deluxe)
                    img(src="../assets/images/smoke+mirrors_deluxe.jpg" alt="Smoke+Mirrors Deluxe (Album cover)")
                    time(datetime="2015-10-30") October 30<sup>th</sup> 2015
                    ol
                        li Shots
                        li Gold
                        li Smoke And Mirrors
                        li I'm So Sorry
                        li I Bet My Life
                        li Polaroid
                        li Friction
                        li It Comes Back To You
                        li Dream
                        li Trouble
                        li Summer
                        li Hopeless Opus
                        li The Fall
                        li Thief
                        li The Unknown
                        li Second Chances
                        li Release
                        li Warriors
                        li Battle Cry
                        li Monster
                        li Who We Are

                article(title="Smoke+Mirrors")
                    h3 Smoke + Mirrors
                    img(src="../assets/images/smoke+mirrors.jpg" alt="Smoke+Mirrors (Album cover)")
                    time(datetime="2015-02-17") February 17<sup>th</sup> 2015
                    ol
                        li Shots
                        li Gold
                        li Smoke And Mirrors
                        li I'm So Sorry
                        li I Bet My Life
                        li Polaroid
                        li Friction
                        li It Comes Back To You
                        li Dream
                        li Trouble
                        li Summer
                        li Hopeless Opus
                        li The Fall

                article(title="Night Visions (Deluxe)")
                    h3 Night Visions (Deluxe)
                    img(src="../assets/images/night-visions.jpg" alt="Night Visions Deluxe (Album cover)")
                    time(datetime="2013-01-01") January 1<sup>st</sup> 2013
                    ol
                        li Radioactive
                        li Tiptoe
                        li It's Time
                        li Demons
                        li On Top Of The World
                        li Amsterdam
                        li Hear Me
                        li Every Night
                        li Bleeding Out
                        li Underdog
                        li Nothing Left To Say / Rocks
                        li My Fault
                        li Round And Round
                        li The River
                        li America
                        li Selene

                article(title="Night Visions")
                    h3 Night Visions
                    img(src="../assets/images/night-visions.jpg" alt="Night Visions (Album Cover)")
                    time(datetime="2012-09-04") September 4<sup>th</sup> 2012
                    ol
                        li Radioactive
                        li Tiptoe
                        li It's Time
                        li Demons
                        li On Top Of The World
                        li Amsterdam
                        li Hear Me
                        li Every Night
                        li Bleeding Out
                        li Underdog
                        li Nothing Left To Say / Rocks
                        li Cha-Ching (Till We Grow Older)

        +footer("Music")
