doctype html
include ../includes/_mixins.pug

html
    +head("News", "../")

    body
        +header("News", "header")

        main
            section(title="News" class="news")
                h1.news__title 
                    span News
                
                +news("March 7<sup>th</sup>", "2017-03-07", "Watch the official video for 'Believer'", "Check out the new video for 'Believer'&hellip;", "#")
                +news("February 29<sup>th</sup>", "2017-02-29", "Imagine Dragons In Cinemas this Wednesday", "Don’t miss the Imagine Dragons concert film, Smoke + Mirrors Live – In CINEMAS WORLDWIDE on&hellip;", "#")
                +news("February 4<sup>th</sup>", "2017-02-04", "Smoke + Mirrors Live – Coming to a cinema near you", "Don’t miss the band’s concert film – In cinemas worldwide on Wednesday 2nd March for one night&hellip;", "#")
                +news("February 3<sup>rd</sup>", "2017-02-03", "Smoke + Mirrors Deluxe And New Items In Imagine Dragons Store", "The deluxe version of Smoke + Mirrors including 8 additional songs is now available in the&hellip;", "#")
                +news("January 31<sup>st</sup>", "2017-01-31", "Listen to Imagine Dragons' latest single 'Believer'", "Imagine Dragons' new song 'Believer' is out now. Watch below and get it on&hellip;", "#")

                a(href="#" title="Load more news on this page" class="news__more") View more news

        +footer("News")
        script(src="../assets/js/script.js")
