doctype html
include ../includes/_mixins.pug

html
    +head("News", "../")

    body
        +header("News", "header")

        main
            section(title="News")
                h1 News

                article(title="News 1")
                    h3 News 1
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 2")
                    h3 News 2
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 3")
                    h3 News 3
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 4")
                    h3 News 4
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

            aside(title="More on the Web")
                h2 More about us on the web

                nav(title="Buy our music")
                    h3 Buy our music
                    ul
                        li
                            a(href="https://www.amazon.com/Imagine-Dragons/e/B007AUFJKY/ref=dp_byline_cont_music_1" title="Buy our music on Amazon") Amazon
                        li
                            a(href="https://itunes.apple.com/us/artist/imagine-dragons/id358714030" title="Buy our music on iTunes") iTunes


                nav(title="Social Medias")
                    h3 Social Medias
                    ul
                        li
                            a(href="http://facebook.com" title="Visit our Facebook Page")
                        li
                            a(href="http://facebook.com" title="Visit our Facebook Page")
                        li
                            a(href="http://facebook.com" title="Visit our Facebook Page")
                        li
                            a(href="http://facebook.com" title="Visit our Facebook Page")



        +footer("News")
