doctype html
include ../includes/_mixins.pug

html
    +head("News", "../")

    body
        +header("News", "header")

        main
            section(title="News")
                h1 
                    span News

                article(title="News 1")
                    h3 News 1
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 2")
                    h3 News 2
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 3")
                    h3 News 3
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)

                article(title="News 4")
                    h3 News 4
                    figure
                        figcaption FigCaption
                        img(src="#" alt="#")
                    time(datetime="2000-01-01") News Date
                    p News description here! ;)


        +footer("News")
        script(src="../assets/js/script.js")
