doctype html
include ../includes/_mixins.pug

html
    +head("Shows", "../")

    body
        +header("Shows", "header")

        main
            section(title="Shows" class="shows")
                h1.shows__title
                    span Shows

                div.shows__wrapper
                    
                    +show("Rock Werchter", "<strong class='show__place--main'>Festivalpark</strong> Werchter, Belgium", "2017-06-29", "June 29<sup>th</sup> 2017", "20:00", "8:00 PM", "$100.00")
                    
                    +show("Arena di Verona", "<strong class='show__place--main'>Arena di Verona</strong> Verona Vr, Italy", "2017-07-03", "July 3<sup>rd</sup> 2017", "21:00", "9:00 PM", "$60.00")

                    +show("Lucca summer festival", "<strong class='show__place--main'>Piazza Napoleone</strong> Lucca, Italy", "2017-07-04", "July 4<sup>th</sup> 2017", "21:30", "9:30 PM", "$40.00")

                    +show("Nos Alive Festival", "<strong class='show__place--main'>NOS Stage</strong> Lisbon, Portugal", "2017-07-08", "July 8<sup>th</sup> 2017", "18:30", "6:30 PM", "$59.00")

            section(title="Buy tickets" id="buyTickets" class="tickets")
                h2.tickets__title 
                    span.tickets__title--text Buy tickets

                form(action="#" method="POST" class="tickets__form form")
                    
                    div.form__show.form--wrapper
                        label(for="formShow" class="form__label") Show
                        select(name="show" id="formShow" required="required" class="form__select")
                            option(value="Rock Werchter" selected="selected" class="form__option") Rock Werchter
                            option(value="Arena di Verona" class="form__option") Arena di Verona
                            option(value="Lucca summer festival" class="form__option") Lucca summer festival
                            option(value="Nos Alive Festival" class="form__option") Nos Alive Festival
                        
                    div.form__date.form--wrapper
                        span.form__label.form__label--sup Date
                        time(datetime="2017-06-29" class="form__date") June 29<sup>th</sup> 2017
                    
                    div.form__number.form--wrapper
                        label(for="formNb" class="form__label") Number of tickets
                        input(type="number" name="formNb" id="formNb" value="1" min="1" required="required" class="form__input")
                    
                    div.form__price.form--wrapper
                        span.form__label Price
                        p.form__price $100.00
                    
                    
                    div.form__lastname.form--wrapper
                        label(for="formLastName" class="form__label") Last name
                        input(type="text" name="formLastName" id="formLastName" placeholder="Doe" required="required" class="form__input")
                    
                    div.form__firstname.form--wrapper   
                        label(for="formFirstName" class="form__label") First name
                        input(type="text" name="formFirstName" id="formFirstName" placeholder="John" required="required" class="form__input")
                    div.form__email.form--wrapper
                        label(for="formEmail" class="form__label") Email
                        input(type="email" name="formEmail" id="formEmail" placeholder="johndoe@email.com" required="required" class="form__input")

                    div.form__validation.form--wrapper
                        button(type="submit" class="form__button") Buy

        +footer("Shows")
        script(src="../assets/js/script.js")
