.biography {
    color: white;
    background: linear-gradient(to bottom right, $dPurple, $lPurple);
}

.biography__title {
    &::after {
        @include titleDiamond(white);
    }
}

.biography--border {
    @include titleBorder(white);
    margin: 0 auto;
}
