.biography {
    color: $grey;
    font-weight: 300;
    background: $d-lPurple;
}

.biography__wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding: 2.8em;
    box-shadow: $boxShadow;
}

.biography__title {
    &::after {
        @include titleDiamond(white);
    }
}

.biography--border {
    @include titleBorder(white);
    margin: 0 auto;
}

.biography--highlight {
    font-style: italic;
}

.biography__link {
    font-style: normal;
    font-weight: 500;
    transition: 0.25s ease-in-out;
    &:hover {
        color: $dPurple;
    }
}
