.navIconSVG {
    display: none;
    cursor: pointer;
    transition: .25s ease-in-out;
    .svg__rect {
        fill: white;
        transform-origin: 50% 50%;
        transform: rotate(45deg);
        transition: .25s ease-in-out;
        filter: url("#dropshadow");
    }
    .svg__group {
        transform: rotate(0deg);
        transition: .5s ease-in-out;

        position: relative;
    }
    .svg__line {
        fill: $dPurple;
        opacity: 1;
        left: 0;

        transform-origin: 50% 50%;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

    }
    &.open {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        .svg__line--1 {
            opacity: 0;
            transform: translateY(17.2px);
        }
        .svg__line--2 {
            transform: rotate(45deg);
        }
        .svg__line--3 {
            transform: rotate(-45deg);
        }
        .svg__line--4 {
            opacity: 0;
            transform: translateY(-17.2px);
        }
        .svg__rect {
            transform: rotate(0deg);
            transform: scale(1.5);
            filter: none;
        }
    }
}
