.show {
    border: 2px solid $dPurple;
    color: $grey;
}

@include showsBgImg($showsDates);

.show__title {
    //background: $d-lPurple;
    //background-image: url("../images/festivalpark.jpg");
    background-size: cover;
    background-position: center;
    min-height: 150px;
    color: white;
    text-shadow: $boxShadow;
    font-size: 1.44em;
    text-align: left;

    .show__title--text {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        line-height: 1.2;
    }
}

.show__infos  {
    letter-spacing: 1.5px;
    font-size: 1em;
    line-height: 1.5;
    .show__place {
        .show__place--main {
            text-transform: uppercase;
            ///font-weight: 600;
        }
    }
}

.show__date, .show__time {
    display: block;
}

.show__button {
    text-align: center;
    width: 100%;

    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 1em;
    padding-left: 0;
    color: $dPurple;
    border: 2px solid $dPurple;
    transition: 0.25s ease-in-out;
    //@include bigButton($dPurple, white);
    //font-size: 1em;
    &:hover {
        text-align: center;
        //padding-left: 1em;
        background-color: $lPurple;
        border-color: $lPurple;
        color: white;
        //@include bigButtonHover($lPurple);
    }
}
