$d-lPurple: linear-gradient(to bottom right, $dPurple, $lPurple);

.svgBaseGradient {
    &>.svgGradient--stop1 {
        stop-color: $dPurple;
    }
    &>.svgGradient--stop2 {
        stop-color: $lPurple;
    }
}

.svgHoverGradient {
    &>.svgGradient--stop1 {
        stop-color: $turquoise;
    }
    &>.svgGradient--stop2 {
        stop-color: $dPurple;
    }
}
